.input-group-control:first-child > .btn,
.input-group-control:last-child > .btn,
.input-group-control:first-child + .input-group-control > .btn-hero,
.input-group-control:nth-last-of-type(2):not(:first-child) > .btn {
    position: relative;
    z-index: 3;
}

.input-group-control:first-child > .btn:before,
.input-group-control:last-child > .btn:before,
.input-group-control:first-child + .input-group-control > .btn:before,
.input-group-control:nth-last-of-type(2):not(:first-child) > .btn:before {
    position: absolute;
    width: 1px;
    height: calc(100% + 2px);
    background: #2574a9;
    content: "";
    top: -1px;
    z-index: 1;
}

.input-group-control:first-child > .btn-primary:before,
.input-group-control:last-child > .btn-primary:before,
.input-group-control:first-child + .input-group-control > .btn-primary:before,
.input-group-control:nth-last-of-type(2):not(:first-child) > .btn-primary:before {
    background: #9e005d;
}

.input-group-control:first-child > .btn:before,
.input-group-control:first-child + .input-group-control > .btn:before {
    right: -1px;
}

.input-group-control:last-child > .btn:before,
.input-group-control:nth-last-of-type(2):not(:first-child) > .btn:before {
    left: -1px;
}

.input-group-control:first-child > .btn,
.input-group-control:first-child + .input-group-control > .btn {
    border-right: none;
}   

.input-group-control:last-child > .btn,
.input-group-control:nth-last-of-type(2):not(:first-child) > .btn {
    border-left: none;
}