.demopage .main {
  z-index: 10;
}
.locateus {
  position: relative;
  overflow-x: hidden;
  background: white;
}
@media (min-width:768px) {
  .native .locateus {
    height: 100vh;
  }
  .website .locateus {
    height: calc(100vh - 104px);
  }
  .locateus {
    overflow: hidden;
  }
}
.search {
  height: 50px;
  background: lightgray;
  text-align: center;
  padding-top: 15px;
}
@media (min-width:768px) {
  .search {
    width: 41.6666667%;
  }
}
.js-button {
  border: 1px solid black;
  position: absolute;
  right: 10px;
}
.native .list {
  height: 100vh;
}
.website .list {
  height: calc(100vh - 104px);
}
.list {
  overflow: hidden;
}
@media (min-width:768px) {
  .list {
    width: 41.6666667%;
    float: left;
    overflow: scroll;
    padding-bottom: 50px;
  }
}
.list.show {
  height: auto;
}
ul {
  margin: 0 0 50px;
  padding: 0;
}
li {
  list-style: none;
  height: 100px;
  border-bottom: 1px solid black;
  padding: 40px 0;
}
.filters {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.website .filters.absolute {
  position: absolute;
}
.website .filters.absolute .container-fluid {
  padding: 0;
}
.filter-inner {
  width: 100%;
  height: 50px;
  background: lightgray;
  text-align: center;
  padding-top: 15px;
}
@media (min-width:768px) {
  .filter-inner {
    width: 41.66666667%;
  }
}
.native .map {
  height: 100vh;
}
.website .map {
  height: calc(100vh - 104px);
}
.map {
  background: PaleGreen;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  transition: 0.3s left ease-in-out;
}
@media (min-width:768px) {
  .map {
    width: 58.3333333%;
    float: left;
    position: relative;
    top: -50px;
    height: calc(100vh - 54px);
  }
}
.map.hide {
  left: 100%;
}
@media (min-width:768px) {
  .map.hide {
    left: 0;
  }
}