.main {
  height: 100vh;
}

.main-wrapper {
  margin: 0 auto;
  position: relative;
  width: 830px;
  height: 100vh;
}

.phone-wrapper {
  width: 335px;
  height: 679px;
  background: url(../images/phone.png) no-repeat;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  margin: 0 40px;
}

.phone-wrapper-china {
  width: 335px;
  height: 679px;
  background: url(../images/phone.png) no-repeat;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  margin: 0 40px;
  z-index: -1;
}

#finger {
  position: absolute;
  left: 2000px;
  top: 1000px;
}

/* #finger img {
  display: none;
} */

#ripple-bound {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .3s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.img-screen {
  position: absolute;
  left: 17px;
  top: 69px;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.btn-skip {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 542px;
  left: 252px;
  z-index: 10;
}

.btn-client-id {
  width: 267px;
  height: 50px;
  position: absolute;
  top: 305px;
  left: 33px;
  z-index: 10;
}

.btn-sign-in-confirm {
  width: 267px;
  height: 50px;
  position: absolute;
  top: 392px;
  left: 33px;
  z-index: 10;
}

.btn-setup-simple-login {
  width: 267px;
  height: 50px;
  position: absolute;
  top: 287px;
  left: 33px;
  z-index: 10;
}

.btn-allow-faceid {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 317px;
  left: 169px;
  z-index: 10;
}

.btn-faceid {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 240px;
  left: 93px;
  z-index: 10;
}

.btn-view-accounts {
  width: 267px;
  height: 50px;
  position: absolute;
  top: 287px;
  left: 33px;
  z-index: 10;
}

.btn-view-statements {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 550px;
  left: 17px;
  z-index: 10;
}

.btn-transaction-account {
  width: 267px;
  height: 50px;
  position: absolute;
  top: 240px;
  left: 33px;
  z-index: 10;
}

.btn-view-statement-page {
  width: 267px;
  height: 34px;
  position: absolute;
  top: 294px;
  left: 33px;
  z-index: 10;
}

.btn-pay-someone-landing {
  width: 267px;
  height: 50px;
  position: absolute;
  top: 394px;
  left: 33px;
  z-index: 10;
}

.btn-pay-someone {
  width: 267px;
  height: 77px;
  position: absolute;
  top: 185px;
  left: 33px;
  z-index: 10;
}

.btn-choose-annie {
  width: 267px;
  height: 100px;
  position: absolute;
  top: 394px;
  left: 33px;
  z-index: 10;
}

.btn-annie-amount {
  width: 267px;
  height: 37px;
  position: absolute;
  top: 414px;
  left: 33px;
  z-index: 10;
}

.btn-annie-next {
  width: 137px;
  height: 37px;
  position: absolute;
  top: 499px;
  left: 170px;
  z-index: 10;
}

.btn-annie-confirm {
  width: 267px;
  height: 37px;
  position: absolute;
  top: 414px;
  left: 33px;
  z-index: 10;
}